{% extends "layout.html" %}
{% block title %}Custom Blacklist{% endblock %}
{% block content %}
<h1>Custom blacklist</h1>
<p>Insert the numbers to be blacklisted/whitelisted; rows starting with a <code>#</code> are ignored, extra characters beside numers are ignored as well. A single <code>?</code> represents unknown callers. Whitelist wins over blacklist.
</p>
<form method="post">
    <table style="width:100%">
        <tr>
            <td>
            <h3>Blacklist</h3>
            <textarea id="blacklist" name="blacklist" class="bwlist">{{ blacklist_text }}</textarea>
            </td>
            <td>
            <h3>Whitelist</h3>
            <textarea id="whitelist" name="whitelist" class="bwlist">{{ whitelist_text }}</textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save"><input type="reset" value="Reset">
</form>
{% endblock %}
