<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>{% block title %}{% endblock %} - CallFilter</title>
    {% endblock %}
</head>
<body>
<div class="body">
    <ul id="topmenu">
        {% for name,target in menu_items.iteritems() %}
        <li class="{% if target == request.path %}selected{% endif %}">
            <a href="{{ target }}" >{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
    <div id="content">{% block content %}{% endblock %}</div>
</div>
</body>
</html>
