{% extends "layout.html" %}
{% block title %}Status{% endblock %}
{% block content %}
<table class="aligntable" style="width: 100%">
    <tr>
        <td>
            <h1>Call log</h1>
        </td>
        <td style="text-align: right">
            <form>
                Show log:
                {% if prev_log is not none -%}
                <a href="?log_file={{ prev_log }}" title="Previous log">&lt</a>
                {% else %}
                <span style="color: white">&lt;</span>
                {%- endif %}
                <select name="log_file" onchange='this.form.submit()'>
                    {% for el in logs -%}
                    <option {% if selected_log == el -%}
                        selected
                            {%- endif %}>{{ el }}</option>
                    {%- endfor %}
                </select>
                {% if next_log is not none -%}
                <a href="?log_file={{ next_log }}" title="Next log">&gt</a>
                {% else %}
                <span style="color: white">&gt;</span>
                {%- endif %}
                <input type="submit" value="Go">
            </form>
        </td>
    </tr>
</table>
<div id="call_log">
    <table>
        <thead>
            <tr><th>Date/time</th><th>Number</th><th>Allowed</th></tr>
        </thead>
        <tbody>
            {% for el in calls %}
            <tr>
                <td>{{ el[0] }}</td><td>{{ el[1] }}</td><td>{{ el[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
