html {
    background-color: #ccc;
    font-family: 'DejaVu Sans',Verdana, sans;
    font-size: 11pt;
}

body {
    background-color: #500;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    padding-top: 0;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
}

h1, h2, h3, h4, h5, h6, th {
    color: #400;
}

#content {
    background-color: white;
    padding: 30px;
    padding-top: 10px;
}

ul#topmenu {
    margin: 0;
    padding: 0;
}

ul#topmenu li {
    background-color: #9c0000;
    display: inline-block;
    margin: 0;
    margin-top: 1px;
    padding: 10px;
    color: white;
}

ul#topmenu li a {
    color: white;
}

ul#topmenu li:hover {
    background-color: #d60000;
}

ul#topmenu li.selected {
    background-color: white;
}

ul#topmenu li.selected a {
    color: black;
}

#call_log table {
    width: 100%;
}

#call_log table, #call_log td, #call_log th {
    border: solid #200 1px;
    border-collapse: collapse;
}

#call_log {
    overflow-y: auto;
}

#call_log td, #call_log th {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

textarea.bwlist {
    width: 90%;
    height: 25em;
}

table.aligntable, table.aligntable tr, table.aligntable td {
    border:0; margin: 0; padding:0;
}
